<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <a href="/admin">Voltar</a>
    <h1>Gallery - Gerenciamento de conteúdo</h1>
    <h3>Gallery - Adicionar</h3>
    <form action="" method="post">
        <label for="imagem">Título:</label>
        <input type="file" name="imagem" id="" required> <br>

        <input type="submit" value="Gravar">


    </form>
    <h2>Gallery - Listar</h2>


    <!--inserir um loop para a exibição do JSON mygrid-->

    <tr>
        <th>Nome</th>
        <th>Preview</th>
    </tr>

    <!--fim do loop-->
</body>
</html>